html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "roboto";
  margin: 0px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_normal {
  width: 150px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

section.location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px transparent;
  -webkit-box-shadow: inset rgba(99, 99, 99, 0.2) 0px 3px 2px 0px;
          box-shadow: inset rgba(99, 99, 99, 0.2) 0px 3px 2px 0px;
  background-color: #ededed;
}

.location_icon {
  font-size: small;
  padding-right: 15px;
  cursor: pointer;
}

.location_place {
  font-size: small;
  font-weight: bold;
  color: #2e2c2c;
}

section.exploration {
  width: 100%;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.2em;
  background-color: #f7f7f7;
}

.exploration_introduce {
  font-size: 1.2em;
  max-width: 200px;
  margin: 0;
}

@media (min-width: 568px) {
  h1.exploration_introduce {
    max-width: inherit;
  }
}

.exploration_discover {
  font-size: 0.9em;
  color: #2e2c2c;
  max-width: 300px;
}

@media (min-width: 568px) {
  p.exploration_discover {
    max-width: inherit;
  }
}

.exploration_button {
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  border: none;
  color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
          box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
  cursor: pointer;
}

.exploration_button:hover {
  opacity: 0.7;
  -webkit-box-shadow: #2e2c2c 2px 5px 7px 2px;
          box-shadow: #2e2c2c 2px 5px 7px 2px;
}

.exploration_button:hover {
  opacity: 0.7;
}

section.functions {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 1em;
  padding: 15px 15px 30px 15px;
}

.functions h2 {
  width: 290px;
  font-size: 1.2em;
  padding-top: 30px;
  margin: 0px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .functions h2 {
    width: 500px;
  }
}

@media (min-width: 1025px) {
  .functions h2 {
    width: 700px;
  }
}

.choose {
  width: 280px;
  height: 60px;
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
          box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
  border-radius: 15px;
  background-color: #f7f7f7;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose:hover {
  -webkit-box-shadow: #2e2c2c 2px 5px 7px 2px;
          box-shadow: #2e2c2c 2px 5px 7px 2px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .choose {
    width: 500px;
  }
}

@media (min-width: 1025px) {
  .choose {
    width: 700px;
  }
  .choose.choose:hover {
    -webkit-box-shadow: #9356dc 2px 5px 7px 2px;
            box-shadow: #9356dc 2px 5px 7px 2px;
  }
}

.choose_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
}

.choose_elements:hover,
.choose_elements :active {
  background-color: #f2eafb;
}

.choose_elements:hover .functionEnabled_icon,
.choose_elements :active .functionEnabled_icon {
  color: #9356dc;
  opacity: inherit;
}

.bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #9356dc;
  color: white;
  font-size: small;
  position: absolute;
  right: 270px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .bullets {
    right: 490px;
  }
}

@media (min-width: 1025px) {
  .bullets {
    right: 690px;
  }
}

.choose_icon {
  opacity: 0.5;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .choose_icon {
    position: relative;
    left: 20px;
  }
}

@media (min-width: 1025px) {
  .choose_icon {
    position: relative;
    left: 30px;
  }
}

.choose_title {
  font-size: small;
  font-weight: bold;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .choose_title {
    position: relative;
    right: 50px;
  }
}

@media (min-width: 1025px) {
  .choose_title {
    text-transform: uppercase;
    position: relative;
    right: 80px;
  }
}

.compose {
  width: 280px;
  height: 60px;
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
          box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
  border-radius: 15px;
  background-color: #f7f7f7;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compose:hover {
  -webkit-box-shadow: #2e2c2c 2px 5px 7px 2px;
          box-shadow: #2e2c2c 2px 5px 7px 2px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .compose {
    width: 500px;
  }
}

@media (min-width: 1025px) {
  .compose {
    width: 700px;
  }
  .compose.compose:hover {
    -webkit-box-shadow: #9356dc 2px 5px 7px 2px;
            box-shadow: #9356dc 2px 5px 7px 2px;
  }
}

.compose_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
}

.compose_elements:hover,
.compose_elements :active {
  background-color: #f2eafb;
}

.compose_elements:hover .functionEnabled_icon,
.compose_elements :active .functionEnabled_icon {
  color: #9356dc;
  opacity: inherit;
}

.compose_icon {
  opacity: 0.5;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .compose_icon {
    position: relative;
    left: 20px;
  }
}

@media (min-width: 1025px) {
  .compose_icon {
    position: relative;
    left: 30px;
  }
}

.compose_title {
  font-size: small;
  font-weight: bold;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .compose_title {
    position: relative;
    right: 50px;
  }
}

@media (min-width: 1025px) {
  .compose_title {
    text-transform: uppercase;
    position: relative;
    right: 80px;
  }
}

.taste {
  width: 280px;
  height: 60px;
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
          box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
  border-radius: 15px;
  background-color: #f7f7f7;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.taste:hover {
  -webkit-box-shadow: #2e2c2c 2px 5px 7px 2px;
          box-shadow: #2e2c2c 2px 5px 7px 2px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .taste {
    width: 500px;
  }
}

@media (min-width: 1025px) {
  .taste {
    width: 700px;
  }
  .taste.taste:hover {
    -webkit-box-shadow: #9356dc 2px 5px 7px 2px;
            box-shadow: #9356dc 2px 5px 7px 2px;
  }
}

.taste_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
}

.taste_elements:hover,
.taste_elements :active {
  background-color: #f2eafb;
}

.taste_elements:hover .functionEnabled_icon,
.taste_elements :active .functionEnabled_icon {
  color: #9356dc;
  opacity: inherit;
}

.taste_icon {
  opacity: 0.5;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .taste_icon {
    position: relative;
    left: 20px;
  }
}

@media (min-width: 1025px) {
  .taste_icon {
    position: relative;
    left: 30px;
  }
}

.taste_title {
  font-size: small;
  font-weight: bold;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .taste_title {
    position: relative;
    right: 50px;
  }
}

@media (min-width: 1025px) {
  .taste_title {
    text-transform: uppercase;
    position: relative;
    right: 80px;
  }
}

section.restaurant {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  padding-bottom: 30px;
}

.restaurant h2 {
  width: 290px;
  font-size: 1.2em;
  padding-top: 30px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .restaurant h2 {
    width: 500px;
  }
}

@media (min-width: 1025px) {
  .restaurant h2 {
    width: 700px;
  }
}

.card {
  width: 300px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 10px 10px 10px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
          box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
  margin-bottom: 15px;
  text-decoration: none;
}

.card:hover {
  -webkit-box-shadow: #2e2c2c 2px 5px 7px 2px;
          box-shadow: #2e2c2c 2px 5px 7px 2px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .card {
    width: 500px;
  }
}

@media (min-width: 1025px) {
  .card {
    width: 700px;
  }
  .card.card:hover {
    -webkit-box-shadow: #9356dc 2px 5px 7px 2px;
            box-shadow: #9356dc 2px 5px 7px 2px;
  }
}

.card_photo1 {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-position: bottom;
     object-position: bottom;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .card_photo1 {
    -o-object-position: center;
       object-position: center;
  }
}

@media (min-width: 1025px) {
  .card_photo1 {
    -o-object-position: center;
       object-position: center;
  }
}

.card_info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5;
  padding-left: 15px;
}

.card_name {
  font-size: 0.9em;
  font-weight: bold;
  color: #2e2c2c;
  margin-top: 5px;
  margin-bottom: 0;
}

.card_place {
  font-size: 0.9em;
  color: #2e2c2c;
  margin: 0;
}

.card_new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 2px 2px;
  background-color: #99e2d0;
  color: #278870;
  font-size: x-small;
  font-weight: bold;
  position: relative;
  bottom: 200px;
  left: 230px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .card_new {
    left: 400px;
  }
}

.like_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 120px;
  bottom: 60px;
  cursor: pointer;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .like_button {
    left: 200px;
  }
}

@media (min-width: 1025px) {
  .like_button {
    left: 280px;
  }
}

svg {
  width: 22px;
  height: 20px;
}

.likeStyle_button {
  fill: #f7f7f7;
  stroke: black;
  stroke-width: 20;
}

.likeStyle_button:hover, .likeStyle_button:active {
  fill: 1px #f7f7f7;
  opacity: 1;
  stroke: unset;
  -webkit-animation: fadeinbackground 1.2s forwards;
          animation: fadeinbackground 1.2s forwards;
}

.likeStyle_button:hover:target, .likeStyle_button:active:target {
  fill: #ff79da;
}

@-webkit-keyframes fadeinbackground {
  from {
    fill: #9356dc;
  }
  to {
    fill: #ff79da;
  }
}

@keyframes fadeinbackground {
  from {
    fill: #9356dc;
  }
  to {
    fill: #ff79da;
  }
}

.card_photo2 {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-position: center;
     object-position: center;
}

.home_footer {
  height: 150px;
  padding: 15px 15px;
  background-color: #2e2c2c;
}

.logo_small {
  width: 100px;
  font-family: "shrikhand";
  font-size: 1.2em;
  font-weight: normal;
  color: white;
}

.footer_elements {
  font-size: small;
  font-family: "roboto";
  color: white;
  list-style-type: none;
  line-height: 20px;
  padding-left: 0px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  ul.footer_elements {
    width: 100%;
    height: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  ul.footer_elements {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_icon {
  font-size: x-small;
  padding-right: 10px;
}

.fas-fa-hands-helping {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid #ff79da;
  border-radius: 50%;
  border-top-color: #9356dc;
  border-right-color: #ff79da;
  border-bottom-color: #99e2d0;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  cursor: wait;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader_icon {
  width: 50px;
  height: 40px;
  fill: #9356dc;
}

.container {
  display: none;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.menu_header {
  width: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_normal {
  width: 150px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.back_button {
  width: 30px;
  height: 30px;
  color: black;
  position: relative;
  bottom: 35px;
  padding-left: 20px;
}

section.presentation {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 50px;
}

.presentation_photo {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation_photoPortrait {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section.menu {
  width: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #f7f7f7;
  padding-bottom: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: 200px;
}

.title {
  width: auto;
  height: 50px;
  font-size: 0.9em;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 0 15px;
}

.menu_name {
  font-family: "shrikhand";
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
}

.like_buttonMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 32px;
  cursor: pointer;
}

.starter,
.main,
.dessert {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 1em;
  padding: 15px 15px;
}

.starter h2,
.main h2,
.dessert h2 {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #2e2c2c;
  font-weight: normal;
  width: 30px;
  height: 20px;
  border-bottom: 3px solid #99e2d0;
  position: relative;
  right: 130px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .starter h2,
  .main h2,
  .dessert h2 {
    right: 235px;
  }
}

.starter_info,
.main_info,
.dessert_info {
  width: 280px;
  height: 60px;
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
          box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
  border-radius: 15px;
  background-color: #f7f7f7;
  margin: 0;
  cursor: pointer;
  padding-left: 15px;
  background-color: white;
  white-space: nowrap;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .starter_info,
  .main_info,
  .dessert_info {
    width: 500px;
  }
}

@media (min-width: 1025px) {
  .starter_info:hover,
  .main_info:hover,
  .dessert_info:hover {
    -webkit-box-shadow: #99e2d0 2px 5px 7px 2px;
            box-shadow: #99e2d0 2px 5px 7px 2px;
  }
}

.starter_item,
.main_item,
.dessert_item {
  font-size: 0.9em;
  font-weight: bold;
  color: #2e2c2c;
  margin-top: 5px;
  margin-bottom: 0;
  padding-top: 5px;
  line-height: 1.5em;
}

.starter_accompaniment,
.main_accompaniment,
.dessert_accompaniment {
  font-size: small;
  width: 250px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.starter_pricing,
.main_pricing,
.dessert_pricing {
  font-size: small;
  font-weight: bold;
  width: 30px;
  position: relative;
  left: 250px;
  bottom: 15px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .starter_pricing,
  .main_pricing,
  .dessert_pricing {
    left: 450px;
  }
}

.order {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.order_button {
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  border: none;
  color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
          box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 7px 2px;
  cursor: pointer;
}

.order_button:hover {
  opacity: 0.7;
  -webkit-box-shadow: #2e2c2c 2px 5px 7px 2px;
          box-shadow: #2e2c2c 2px 5px 7px 2px;
}

.menu_footer {
  height: 150px;
  padding: 15px 15px;
  background-color: #2e2c2c;
  position: relative;
  top: 200px;
}

.logo_small {
  width: 100px;
  font-family: "shrikhand";
  font-size: 1.2em;
  font-weight: normal;
  color: white;
}

.footer_elements {
  font-size: small;
  font-family: "roboto";
  color: white;
  list-style-type: none;
  line-height: 20px;
  padding-left: 0px;
}

.footer_icon {
  font-size: x-small;
  padding-right: 10px;
}

.fas-fa-hands-helping {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.anime {
  -webkit-animation: animeProgress 0.5s;
          animation: animeProgress 0.5s;
}

@-webkit-keyframes animeProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animeProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anime_progress {
  -webkit-animation: animeProgress 1.5s;
          animation: animeProgress 1.5s;
}

@keyframes animeProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anime_progressNd {
  -webkit-animation: animeProgress 2.5s;
          animation: animeProgress 2.5s;
}

@keyframes animeProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anime_progressRd {
  -webkit-animation: animeProgress 3s;
          animation: animeProgress 3s;
}

@keyframes animeProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#addToOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 64px;
  left: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 2px;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.checkOrder {
  fill: #f7f7f7;
}

.starter_info:hover > #addToOrder {
  background-color: #99e2d0;
  width: 50px;
  left: 230px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .starter_info:hover > #addToOrder {
    left: 450px;
  }
}

.starter_info:hover > #addToOrder svg {
  -webkit-animation: spin 0.5s linear;
          animation: spin 0.5s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.main_info:hover > #addToOrder {
  background-color: #99e2d0;
  width: 50px;
  left: 230px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .main_info:hover > #addToOrder {
    left: 450px;
  }
}

.main_info:hover > #addToOrder svg {
  -webkit-animation: spin 0.5s linear;
          animation: spin 0.5s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.dessert_info:hover > #addToOrder {
  background-color: #99e2d0;
  width: 50px;
  left: 230px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .dessert_info:hover > #addToOrder {
    left: 450px;
  }
}

.dessert_info:hover > #addToOrder svg {
  -webkit-animation: spin 0.5s linear;
          animation: spin 0.5s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.starter_info:hover > .starter_pricing {
  left: 195px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .starter_info:hover > .starter_pricing {
    left: 400px;
  }
}

.main_info:hover > .main_pricing {
  left: 195px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .main_info:hover > .main_pricing {
    left: 400px;
  }
}

.dessert_info:hover > .dessert_pricing {
  left: 195px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .dessert_info:hover > .dessert_pricing {
    left: 400px;
  }
}

.starter_info:hover > .starter_accompaniment {
  width: 195px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .starter_info:hover > .starter_accompaniment {
    width: inherit;
  }
}

.main_info:hover > .main_accompaniment {
  width: 195px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .main_info:hover > .main_accompaniment {
    width: inherit;
  }
}

.dessert_info:hover > .dessert_accompaniment {
  width: 195px;
}

@media (min-width: 568px) and (max-width: 1024px) {
  .dessert_info:hover > .dessert_accompaniment {
    width: inherit;
  }
}
/*# sourceMappingURL=styles.css.map */