html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "roboto";
  margin: 0px;
}
.container {
  max-width: 1100px;
  margin: auto;
}

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$colorback-light: lighten(#f2f2f2, 2%);
$colorback-medium: darken(#f2f2f2, 2%);
$colorback-dark: rgb(46, 44, 44);
$color-gradient: linear-gradient($color-secondary, $color-primary);
$color-text: white;

$color-shadow: rgba(99, 99, 99, 0.2);
$shadow-style: $color-shadow 2px 5px 7px 2px;
$color-darkShadow: $colorback-dark;

$size-xs: x-small;
$size-small: small;
$size-medium: 0.9em;
$size-large: 1.2em;
$size-xl: 1.8em;
$font-family: "shrikhand";

$padding-size: 15px;

$position-top: top;
$position-center: center;
$position-bottom: bottom;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin radius-small {
  width: 280px;
  height: 60px;
  border: 1px solid transparent;
  box-shadow: $shadow-style;
  border-radius: 15px;
  background-color: $colorback-light;
  margin: 0;
  cursor: pointer;
}

@mixin position-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 1em;
}

@mixin functions-positionElements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
}

@mixin bullet-styles {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $color-primary;
  color: $color-text;
  font-size: $size-small;
  position: absolute;
  right: 270px;
}

@mixin card-styles {
  width: 300px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 10px 10px 10px;
  box-shadow: $shadow-style;
  margin-bottom: $padding-size;
  text-decoration: none;
}
@mixin photo-styles {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@mixin info-styles {
  width: max-content;
  height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.5;
  padding-left: $padding-size;
}
@mixin name-styles {
  font-size: $size-medium;
  font-weight: bold;
  color: $colorback-dark;
  margin-top: 5px;
  margin-bottom: 0;
}
@mixin place-styles {
  font-size: $size-medium;
  color: $colorback-dark;
  margin: 0;
}
@mixin enabled {
  &:hover,
  :active {
    background-color: lighten($color-primary, 35%);
    .functionEnabled_icon {
      color: $color-primary;
      opacity: inherit;
    }
  }
}
// ----- Menus -----
@mixin menu-styles {
  width: auto;
  height: max-content;
  background-color: $colorback-light;
  padding-bottom: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: 200px;
}
@mixin sectionTitle-styles {
  text-transform: uppercase;
  font-size: $size-medium;
  color: $colorback-dark;
  font-weight: normal;
  width: 30px;
  height: 20px;
  border-bottom: 3px solid $color-tertiary;
  position: relative;
  right: 130px;
  align-self: flex-end;
}
@mixin accompaniement-styles {
  font-size: $size-small;
  width: 250px;
  margin: 0;
}
@mixin pricing-styles {
  font-size: $size-small;
  font-weight: bold;
  width: 30px;
  position: relative;
  left: 250px;
  bottom: 15px;
}
// ----- Buttons -----
@mixin gradient-button {
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background-image: $color-gradient;
  border: none;
  color: $color-text;
  box-shadow: $shadow-style;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}

@mixin validOrder {
  animation: spin 0.5s linear;
  animation-iteration-count: 1;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// ----- Header -----
header {
  width: 100%;
  height: 50px;
  @include flex-center();
}

.logo_normal {
  width: 150px;
  height: max-content;
}

// ----- Location section -----
section.location {
  width: 100%;
  @include flex-center();
  border-top: 1px transparent;
  box-shadow: inset $color-shadow 0px 3px 2px 0px;
  background-color: $colorback-medium;
}

.location_icon {
  font-size: $size-small;
  padding-right: $padding-size;
  cursor: pointer;
}

.location_place {
  font-size: $size-small;
  font-weight: bold;
  color: $colorback-dark;
}

// ----- Exploration section -----
section.exploration {
  width: 100%;
  height: 230px;
  @include flex-center();
  flex-direction: column;
  text-align: center;
  line-height: $size-large;
  background-color: $colorback-light;
}

.exploration_introduce {
  font-size: $size-large;
  max-width: 200px;
  margin: 0;
}
@media (min-width: 568px) {
  h1.exploration_introduce {
    max-width: inherit;
  }
}

.exploration_discover {
  font-size: $size-medium;
  color: $colorback-dark;
  max-width: 300px;
}
@media (min-width: 568px) {
  p.exploration_discover {
    max-width: inherit;
  }
}

.exploration_button {
  @include gradient-button();
  &:hover {
    opacity: 0.7;
  }
}

// ----- Functions section -----
section.functions {
  @include position-grid();
  padding: $padding-size $padding-size 30px $padding-size;
}

.functions h2 {
  width: 290px;
  font-size: $size-large;
  padding-top: 30px;
  margin: 0px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .functions h2 {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .functions h2 {
    width: 700px;
  }
}

// ----- Function 1 -----
.choose {
  @include radius-small();
  @include flex-center();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
@media (min-width: 568px) and (max-width: 1024px) {
  .choose {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .choose {
    width: 700px;
    &.choose:hover {
      box-shadow: $color-primary 2px 5px 7px 2px;
    }
  }
}

.choose_elements {
  @include functions-positionElements();
  @include enabled();
}

.bullets {
  @include flex-center();
  @include bullet-styles();
}
@media (min-width: 568px) and (max-width: 1024px) {
  .bullets {
    right: 490px;
  }
}
@media (min-width: 1025px) {
  .bullets {
    right: 690px;
  }
}

.choose_icon {
  opacity: 0.5;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .choose_icon {
    position: relative;
    left: 20px;
  }
}
@media (min-width: 1025px) {
  .choose_icon {
    position: relative;
    left: 30px;
  }
}

.choose_title {
  font-size: $size-small;
  font-weight: bold;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .choose_title {
    position: relative;
    right: 50px;
  }
}
@media (min-width: 1025px) {
  .choose_title {
    text-transform: uppercase;
    position: relative;
    right: 80px;
  }
}

// ----- Function 2 -----
.compose {
  @include radius-small();
  @include flex-center();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
@media (min-width: 568px) and (max-width: 1024px) {
  .compose {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .compose {
    width: 700px;
    &.compose:hover {
      box-shadow: $color-primary 2px 5px 7px 2px;
    }
  }
}

.compose_elements {
  @include functions-positionElements();
  @include enabled();
}

.compose_icon {
  opacity: 0.5;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .compose_icon {
    position: relative;
    left: 20px;
  }
}
@media (min-width: 1025px) {
  .compose_icon {
    position: relative;
    left: 30px;
  }
}

.compose_title {
  font-size: $size-small;
  font-weight: bold;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .compose_title {
    position: relative;
    right: 50px;
  }
}
@media (min-width: 1025px) {
  .compose_title {
    text-transform: uppercase;
    position: relative;
    right: 80px;
  }
}

// ----- Function 3 -----
.taste {
  @include radius-small();
  @include flex-center();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
@media (min-width: 568px) and (max-width: 1024px) {
  .taste {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .taste {
    width: 700px;
    &.taste:hover {
      box-shadow: $color-primary 2px 5px 7px 2px;
    }
  }
}

.taste_elements {
  @include functions-positionElements();
  @include enabled();
}

.taste_icon {
  opacity: 0.5;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .taste_icon {
    position: relative;
    left: 20px;
  }
}
@media (min-width: 1025px) {
  .taste_icon {
    position: relative;
    left: 30px;
  }
}

.taste_title {
  font-size: $size-small;
  font-weight: bold;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .taste_title {
    position: relative;
    right: 50px;
  }
}
@media (min-width: 1025px) {
  .taste_title {
    text-transform: uppercase;
    position: relative;
    right: 80px;
  }
}

// ----- Restaurants section -----
section.restaurant {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $colorback-light;
  padding-bottom: 30px;
}

.restaurant h2 {
  width: 290px;
  font-size: $size-large;
  padding-top: 30px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .restaurant h2 {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .restaurant h2 {
    width: 700px;
  }
}

.card {
  @include card-styles();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
@media (min-width: 568px) and (max-width: 1024px) {
  .card {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .card {
    width: 700px;
    &.card:hover {
      box-shadow: $color-primary 2px 5px 7px 2px;
    }
  }
}

.card_photo1 {
  @include photo-styles();
  object-position: $position-bottom;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .card_photo1 {
    object-position: center;
  }
}
@media (min-width: 1025px) {
  .card_photo1 {
    object-position: center;
  }
}

.card_info {
  @include info-styles();
}

.card_name {
  @include name-styles();
}

.card_place {
  @include place-styles();
}

.card_new {
  @include flex-center();
  width: 60px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 2px 2px;
  background-color: $color-tertiary;
  color: darken($color-tertiary, 40%);
  font-size: $size-xs;
  font-weight: bold;
  position: relative;
  bottom: 200px;
  left: 230px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .card_new {
    left: 400px;
  }
}
@media (min-width: 1025px) {
  .card_new {
    left: 600px;
  }
}

.like_button {
  display: flex;
  align-items: center;
  position: relative;
  left: 120px;
  bottom: 60px;
  cursor: pointer;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .like_button {
    left: 200px;
  }
}
@media (min-width: 1025px) {
  .like_button {
    left: 280px;
  }
}

svg {
  width: 22px;
  height: 20px;
}

.likeStyle_button {
  fill: $colorback-light;
  stroke: black;
  stroke-width: 20;
  &:hover,
  &:active {
    fill: 1px $colorback-light;
    opacity: 1;
    stroke: unset;
    animation: fadeinbackground 1.2s forwards;
    &:target {
      fill: $color-secondary;
    }
  }
  @keyframes fadeinbackground {
    from {
      fill: $color-primary;
    }
    to {
      fill: $color-secondary;
    }
  }
}

.card_photo2 {
  @include photo-styles();
  object-position: $position-center;
}

// ----- Footer -----
.home_footer {
  height: 150px;
  padding: $padding-size $padding-size;
  background-color: $colorback-dark;
}

.logo_small {
  width: 100px;
  font-family: $font-family;
  font-size: $size-large;
  font-weight: normal;
  color: $color-text;
}

.footer_elements {
  font-size: $size-small;
  font-family: "roboto";
  color: $color-text;
  list-style-type: none;
  line-height: 20px;
  padding-left: 0px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  ul.footer_elements {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  ul.footer_elements {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.footer_icon {
  font-size: $size-xs;
  padding-right: 10px;
}

.fas-fa-hands-helping {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: $color-text;
}

// ----- Loader -----
.loader {
  @include flex-center();
  width: 100px;
  height: 100px;
  border: 3px solid $color-secondary;
  border-radius: 50%;
  border-top-color: $color-primary;
  border-right-color: $color-secondary;
  border-bottom-color: $color-tertiary;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  cursor: wait;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader_icon {
  width: 50px;
  height: 40px;
  fill: $color-primary;
}

.container {
  display: none;
}

// ----- Menus -----
.container {
  max-width: 1500px;
  margin: auto;
}
// ----- Background desktop version La palette du goût -----
@media (min-width: 1025px) {
  .desktop {
    width: 100%;
    height: 560px;
    background-image: url('../images/La_palette_du_gout.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}

// ----- Header -----
.menu_header {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_normal {
  width: 150px;
  height: max-content;
}
@media (min-width: 1025px) {
  .logo_normal {
    width: 180px;
    padding-top: $padding-size;
  }
}

.back_button {
  width: 30px;
  height: 30px;
  color: black;
  position: relative;
  bottom: 35px;
  padding-left: 20px;
}
@media (min-width: 1025px) {
  .back_button {
    font-size: $size-large;
    padding-top: 30px;
  }
}

// ----- Presentation section -----
section.presentation {
  width: 100%;
  height: max-content;
  position: absolute;
  top: 50px;
}
@media (min-width: 1025px) {
  section.presentation {
    display: none;
  }
}

.presentation_photo {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.presentation_photoPortrait {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

// ----- Menu section -----
section.menu {
  @include menu_styles();
}
@media (min-width: 1025px) {
  section.menu {
    display: flex;
    top: 0;
    border-radius: inherit;
    padding-top: 30px;
    padding-bottom: 170px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(59, 28, 28, 0.2);
    width: auto;
    height: max-content;
    border-top: 2px solid $color-primary;
  }
}

.title {
  width: auto;
  height: 50px;
  font-size: $size-medium;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-size $padding-size 0 $padding-size;
}
@media (min-width: 1025px) {
  .title {
    position: relative;
    left: 625px;
    width: 270px;
    padding: 0;
  }
}

.menu_name {
  font-family: "shrikhand";
  height: max-content;
  margin: 0;
}
@media (min-width: 1025px) {
  .menu_name {
    width: max-content;
    font-size: $size-xl;
    font-weight: normal;
    color: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
  }
}

.like_buttonMenu {
  display: flex;
  align-items: center;
  position: relative;
  height: 32px;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .like_buttonMenu {
    position: relative;
    left: 30px;
  }
}

// ----- Starter/Main/Dessert -----
.starter,
.main,
.dessert {
  @include position-grid();
  padding: $padding-size $padding-size;
}
@media (min-width: 1025px) {
  .starter,
.main,
.dessert {
  margin-top: 50px;
}
}
  .starter h2,
  .main h2,
  .dessert h2 {
    @include sectionTitle-styles();
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .starter h2,
    .main h2,
    .dessert h2 {
      right: 235px;
    }
  }
  @media (min-width: 1025px) {
    .starter h2,
    .main h2,
    .dessert h2 {
      font-size: $size-large;
      font-weight: bold;
      color: white;
    }
  }

  .starter_info,
  .main_info,
  .dessert_info {
    @include radius-small();
    padding-left: $padding-size;
    background-color: white;
    white-space: nowrap;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .starter_info,
    .main_info,
    .dessert_info {
      width: 500px;
    }
  }
  @media (min-width: 1025px) {
    .starter_info,
    .main_info,
    .dessert_info {
      background-color: #ffffffba;
    }
  }
  @media (min-width: 1025px) {
    .starter_info:hover,
    .main_info:hover,
    .dessert_info:hover {
      box-shadow: $color-tertiary 2px 5px 7px 2px;
    }
  }

  .starter_item,
  .main_item,
  .dessert_item {
    @include name-styles();
    padding-top: 5px;
    line-height: 1.5em;
  }
  @media (min-width: 1025px) {
    .starter_item,
    .main_item,
    .dessert_item {
      font-size: $size-medium;
      font-weight: bolder;
    }
  }

  .starter_accompaniment,
  .main_accompaniment,
  .dessert_accompaniment {
    @include accompaniement-styles();
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .starter_pricing,
  .main_pricing,
  .dessert_pricing {
    @include pricing-styles();
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .starter_pricing,
    .main_pricing,
    .dessert_pricing {
      left: 450px;
    }
  }

  // ----- Order button -----
  .order {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .order_button {
    @include gradient-button();
  }

  @media (min-width: 1025px) {
    .order_button {
      font-size: $size-large;
      position: relative;
      top: 400px;
      right: 630px;
      font-weight: 800;
    }
  }

  // ----- Footer -----
  .menu_footer {
    height: 150px;
    padding: $padding-size $padding-size;
    background-color: $colorback-dark;
    position: relative;
    top: 200px;
  }
  @media (min-width: 1025px) {
    .menu_footer {
      height: 80px;
      position: inherit;
      top: 0px;
      border-top: 4px solid $color-primary;
    }
  }

  .logo_small {
    width: 100px;
    font-family: $font-family;
    font-size: $size-large;
    font-weight: normal;
    color: $color-text;
  }

  .footer_elements {
    font-size: $size-small;
    font-family: "roboto";
    color: $color-text;
    list-style-type: none;
    line-height: 20px;
    padding-left: 0px;
    cursor: pointer;
  }
  @media (min-width: 1025px) {
    ul.footer_elements {
      font-size: $size-medium;
      width: 60%;
      height: 0;
      padding-left: 150px;
    }
  }

  .footer_icon {
    font-size: $size-xs;
    padding-right: 10px;
  }
  @media (min-width: 1025px) {
    .footer_icon {
      font-size: $size-large;
    }
  }

  .fas-fa-hands-helping {
    font-size: 10px;
  }

  a {
    text-decoration: none;
    color: $color-text;
  }

  // ----- Appearance item -----
  .anime {
    animation: animeProgress 0.5s;
  }
  @keyframes animeProgress {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .anime_progress {
    animation: animeProgress 1.5s;
  }
  @keyframes animeProgress {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .anime_progressNd {
    animation: animeProgress 2.5s;
  }
  @keyframes animeProgress {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .anime_progressRd {
    animation: animeProgress 3s;
  }
  @keyframes animeProgress {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  // ----- Order -----
  // ----- Elements appearance if ready to order -----
  #addToOrder {
    @include flex-center();
    position: relative;
    bottom: 64px;
    left: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 2px;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
  }
  
  .checkOrder {
    fill: $colorback-light;
  }

  .starter_info:hover > #addToOrder {
    background-color: $color-tertiary;
    width: 50px;
    left: 230px;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .starter_info:hover > #addToOrder {
      left: 450px;
    }
  }

  .starter_info:hover > #addToOrder svg {
    @include validOrder();
  }

  .main_info:hover > #addToOrder {
    background-color: $color-tertiary;
    width: 50px;
    left: 230px;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .main_info:hover > #addToOrder {
      left: 450px;
    }
  }

  .main_info:hover > #addToOrder svg {
    @include validOrder();
  }

  .dessert_info:hover > #addToOrder {
    background-color: $color-tertiary;
    width: 50px;
    left: 230px;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .dessert_info:hover > #addToOrder {
      left: 450px;
    }
  }

  .dessert_info:hover > #addToOrder svg {
    @include validOrder();
  }

  .starter_info:hover > .starter_pricing {
    left: 195px;
    transition: 0.5s ease;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .starter_info:hover > .starter_pricing {
      left: 400px;
    }
  }

  .main_info:hover > .main_pricing {
    left: 195px;
    transition: 0.5s ease;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .main_info:hover > .main_pricing {
      left: 400px;
    }
  }

  .dessert_info:hover > .dessert_pricing {
    left: 195px;
    transition: 0.5s ease;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .dessert_info:hover > .dessert_pricing {
      left: 400px;
    }
  }

  .starter_info:hover > .starter_accompaniment {
    width: 195px;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .starter_info:hover > .starter_accompaniment {
      width: inherit;
    }
  }

  .main_info:hover > .main_accompaniment {
    width: 195px;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .main_info:hover > .main_accompaniment {
      width: inherit;
    }
  }

  .dessert_info:hover > .dessert_accompaniment {
    width: 195px;
  }
  @media (min-width: 568px) and (max-width: 1024px) {
    .dessert_info:hover > .dessert_accompaniment {
      width: inherit;
    }
  } 
