body {
  font-family: "roboto";
}
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$colorback-light: lighten(#f2f2f2, 20%);
$colorback-medium: darken(#f2f2f2, 4%);
$colorback-dark: rgb(46, 44, 44);
$color-gradient: linear-gradient($color-secondary, $color-primary);

header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_normal {
  width: 150px;
  height: max-content;
}
footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $colorback-dark;
  color: white;
}
.logo_small {
  width: 90px;
}
section.location {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset rgba(50, 95, 93, 0.25) 0px 5px 4px 0px;
  background-color: $colorback-medium;
}
section.exploration {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  background-color: $colorback-light;
}
.exploration_button {
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background-image: $color-gradient;
  color: white;
  border: none;
}
