html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "roboto";
  margin: 0px;
}
.container {
  max-width: 1100px;
  margin: auto;
}

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$colorback-light: lighten(#f2f2f2, 2%);
$colorback-medium: darken(#f2f2f2, 2%);
$colorback-dark: rgb(46, 44, 44);
$color-gradient: linear-gradient($color-secondary, $color-primary);
$color-text: white;

$color-shadow: rgba(99, 99, 99, 0.2);
$shadow-style: $color-shadow 2px 5px 7px 2px;
$color-darkShadow: $colorback-dark;

$size-xs: x-small;
$size-small: small;
$size-medium: 0.9em;
$size-large: 1.2em;
$size-xl: 1.8em;
$font-family: "shrikhand";

$padding-size: 15px;

$position-top: top;
$position-center: center;
$position-bottom: bottom;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin radius-small {
  width: 300px;
  height: 60px;
  border: 1px solid transparent;
  box-shadow: $shadow-style;
  border-radius: 15px;
  background-color: $colorback-light;
  margin: 0;
  cursor: pointer;
}

@mixin position-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 1em;
}

@mixin functions-positionElements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
}

@mixin bullet-styles {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $color-primary;
  color: $color-text;
  font-size: $size-small;
  position: absolute;
  right: 290px;
}

@mixin card-styles {
  width: 300px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 10px 10px 10px;
  box-shadow: $shadow-style;
  margin-bottom: $padding-size;
  text-decoration: none;
}
@mixin photo-styles {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@mixin info-styles {
  width: max-content;
  height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.5;
  padding-left: $padding-size;
}
@mixin name-styles {
  font-size: $size-medium;
  font-weight: bold;
  color: $colorback-dark;
  margin-top: 5px;
  margin-bottom: 0;
}
@mixin place-styles {
  font-size: $size-medium;
  color: $colorback-dark;
  margin: 0;
}
@mixin enabled {
  &:hover,
  :active {
    background-color: lighten($color-primary, 35%);
    .functionEnabled_icon {
      color: $color-primary;
      opacity: inherit;
    }
  }
}
// ----- Header -----
header {
  width: 100%;
  height: 50px;
  @include flex-center();
}
.logo_normal {
  width: 150px;
  height: max-content;
}
// ----- Location section -----
section.location {
  width: 100%;
  @include flex-center();
  border-top: 1px transparent;
  box-shadow: inset $color-shadow 0px 3px 2px 0px;
  background-color: $colorback-medium;
}
.location_icon {
  font-size: $size-small;
  padding-right: $padding-size;
  cursor: pointer;
}
.location_place {
  font-size: $size-small;
  font-weight: bold;
  color: $colorback-dark;
}
// ----- Exploration section -----
section.exploration {
  width: 100%;
  height: 230px;
  @include flex-center();
  flex-direction: column;
  text-align: center;
  line-height: $size-large;
  background-color: $colorback-light;
}
.exploration_introduce {
  font-size: $size-large;
  max-width: 200px;
  margin: 0;
}
.exploration_discover {
  font-size: $size-medium;
  color: $colorback-dark;
  max-width: 300px;
}
.exploration_button {
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background-image: $color-gradient;
  border: none;
  color: $color-text;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
// ----- Functions section -----
section.functions {
  @include position-grid();
  padding: $padding-size $padding-size 30px $padding-size;
}
.functions h2 {
  width: 290px;
  font-size: $size-large;
  padding-top: 30px;
  margin: 0px;
}
// ----- Function 1 -----
.choose {
  @include radius-small();
  @include flex-center();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
.choose_elements {
  @include functions-positionElements();
  @include enabled();
}
.bullets {
  @include flex-center();
  @include bullet-styles();
}
.choose_icon {
  opacity: 0.5;
}
.choose_title {
  font-size: $size-small;
  font-weight: bold;
}
// ----- Function 2 -----
.compose {
  @include radius-small();
  @include flex-center();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
.compose_elements {
  @include functions-positionElements();
  @include enabled();
}
.compose_icon {
  opacity: 0.5;
}
.compose_title {
  font-size: $size-small;
  font-weight: bold;
}
// ----- Function 3 -----
.taste {
  @include radius-small();
  @include flex-center();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
.taste_elements {
  @include functions-positionElements();
  @include enabled();
}
.taste_icon {
  opacity: 0.5;
}
.taste_title {
  font-size: $size-small;
  font-weight: bold;
}
// ----- Restaurants section -----
section.restaurant {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $colorback-light;
  padding-bottom: 30px;
}
.restaurant h2 {
  width: 290px;
  font-size: $size-large;
  padding-top: 30px;
}
.card {
  @include card-styles();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
.card_photo1 {
  @include photo-styles();
  object-position: $position-bottom;
}
.card_info {
  @include info-styles();
}
.card_name {
  @include name-styles();
}
.card_place {
  @include place-styles();
}
.card_new {
  @include flex-center();
  width: 60px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 2px 2px;
  background-color: $color-tertiary;
  color: darken($color-tertiary, 40%);
  font-size: $size-xs;
  font-weight: bold;
  position: relative;
  bottom: 200px;
  left: 230px;
}
.like_button {
  display: flex;
  align-items: center;
  position: relative;
  left: 120px;
  bottom: 60px;
  cursor: pointer;
}
svg {
  width: 22px;
  height: 20px;
}
.likeStyle_button {
  fill: $colorback-light;
  stroke: black;
  stroke-width: 20;
  &:active {
    fill: $colorback-light;
    opacity: 1;
    stroke: unset;
    animation: fadeinbackground 1.5s;
  }
  @keyframes fadeinbackground {
    from {
      fill: $color-primary;
    }
    to {
      fill: $color-secondary;
    }
  }
}
.card_photo2 {
  @include photo-styles();
  object-position: $position-center;
}
// ----- Footer -----
footer {
  height: 150px;
  padding: $padding-size $padding-size;
  background-color: $colorback-dark;
}
.logo_small {
  width: 100px;
  font-family: $font-family;
  font-size: $size-large;
  font-weight: normal;
  color: $color-text;
}
.footer_elements {
  font-size: $size-small;
  font-family: "roboto";
  color: $color-text;
  list-style-type: none;
  line-height: 20px;
  padding-left: 0px;
}
.footer_icon {
  font-size: $size-xs;
  padding-right: 10px;
}
.fas-fa-hands-helping {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: $color-text;
}

// ----- Loader -----
.loader {
  @include flex-center();
  width: 100px;
  height: 100px;
  border: 3px solid $color-secondary;
  border-radius: 50%;
  border-top-color: $color-primary;
  border-right-color: $color-secondary;
  border-bottom-color: $color-tertiary;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 30%;
  left: 35%;
  cursor: wait;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader_icon {
  width: 50px;
  height: 40px;
  fill: $color-primary;
}
.container {
  display: none;
}
