// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@mixin position-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 1em;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin radius-small {
  width: 280px;
  height: 60px;
  border: 1px solid transparent;
  box-shadow: $shadow-style;
  border-radius: 15px;
  background-color: $colorback-light;
  margin: 0;
  cursor: pointer;
}
@mixin gradient-button {
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background-image: $color-gradient;
  border: none;
  color: $color-text;
  box-shadow: $shadow-style;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "roboto";
  margin: 0;
}
.container {
  max-width: 1100px;
  margin: auto;
}

// ----- Header -----
header {
  width: 100%;
  height: 50px;
  @include flex-center();
}
@media (min-width: 1025px) {
  header {
    height: 70px;
  }
}

.logo_normal {
  width: 150px;
  height: max-content;
}
@media (min-width: 1025px) {
  .logo_normal {
    padding-top: 5px;
  }
}

// Main
// ----- Location section -----
section.location {
  width: 100%;
  @include flex-center();
  border-top: 1px transparent;
  box-shadow: inset $color-shadow 0px 3px 2px 0px;
  background-color: $colorback-medium;
}
@media (min-width: 1025px) {
  section.location {
    height: 60px;
    box-shadow: inset $color-primary 0px 2px 0px 0px;
  }
}

.location_icon {
  font-size: $size-small;
  padding-right: $padding-size;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .location_icon {
    font-size: $size-large;
  }
}

.location_place {
  font-size: $size-small;
  font-weight: bold;
  color: $colorback-dark;
}
@media (min-width: 1025px) {
  .location_place {
    font-size: $size-large;
  }
}

// ----- Exploration section -----
section.exploration {
  width: 100%;
  height: 230px;
  @include flex-center();
  flex-direction: column;
  text-align: center;
  line-height: $size-large;
  background-color: $colorback-light;
}
@media (min-width: 1025px) {
  section.exploration {
    background-color: $colorback-dark;
  }
}

.exploration_introduce {
  font-size: $size-large;
  max-width: 200px;
  margin: 0;
}
@media (min-width: 568px) and (max-width: 1024px) {
  h1.exploration_introduce {
    width: auto;
  }
}
@media (min-width: 1025px) {
  h1.exploration_introduce {
    font-size: $size-xl;
    color: white;
    text-shadow: 0 0 0.5em $color-secondary, 0 0 0.2em$color-tertiary;
  }
}

.exploration_discover {
  font-size: $size-medium;
  color: $colorback-dark;
  max-width: 300px;
}
@media (min-width: 568px) {
  p.exploration_discover {
    max-width: inherit;
  }
}
@media (min-width: 1025px) {
  p.exploration_discover {
    font-size: $size-medium;
    color: white;
  }
}

.exploration_button {
  @include gradient-button();
}
@media (min-width: 1025px) {
  .exploration_button {
    width: 280px;
    font-size: $size-large;
    font-weight: bold;
    margin-top: 30px;
  }
}

// ----- Functions section -----
section.functions {
  @include position-grid();
  padding: $padding-size $padding-size 30px $padding-size;
}
@media (min-width: 1025px) {
  section.functions {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    margin-top: 30px;
  }
}

.functions h2 {
  width: 290px;
  font-size: $size-large;
  padding-top: 30px;
  margin: 0px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .functions h2 {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .functions h2 {
    width: 700px;
  }
}

// ----- Function 1 -----
.choose {
  @include radius-small();
  @include flex-center();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
@media (min-width: 568px) and (max-width: 1024px) {
  .choose {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .choose {
    width: 350px;
    &.choose:hover {
      box-shadow: $color-primary 2px 5px 7px 2px;
    }
  }
}

.choose_elements {
  @include functions-positionElements();
  @include enabled();
}

.bullets {
  @include flex-center();
  @include bullet-styles();
}
@media (min-width: 568px) and (max-width: 1024px) {
  .bullets {
    right: 490px;
  }
}
@media (min-width: 1025px) {
  .bullets {
    left: 15px;
  }
}

.choose_icon {
  opacity: 0.5;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .choose_icon {
    position: relative;
    left: 20px;
  }
}
@media (min-width: 1025px) {
  .choose_icon {
    position: relative;
    left: 10px;
    font-size: $size-large;
  }
}

.choose_title {
  font-size: $size-small;
  font-weight: bold;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .choose_title {
    position: relative;
    right: 50px;
  }
}
@media (min-width: 1025px) {
  .choose_title {
    text-transform: uppercase;
    position: relative;
    left: 1px;
  }
}

// ----- Function 2 -----
.compose {
  @include radius-small();
  @include flex-center();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
@media (min-width: 568px) and (max-width: 1024px) {
  .compose {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .compose {
    width: 350px;
    &.compose:hover {
      box-shadow: $color-primary 2px 5px 7px 2px;
    }
  }
}

.compose_elements {
  @include functions-positionElements();
  @include enabled();
}

.compose_icon {
  opacity: 0.5;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .compose_icon {
    position: relative;
    left: 20px;
  }
}
@media (min-width: 1025px) {
  .compose_icon {
    position: relative;
    left: 10px;
    font-size: $size-large;
  }
}

.compose_title {
  font-size: $size-small;
  font-weight: bold;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .compose_title {
    position: relative;
    right: 50px;
  }
}
@media (min-width: 1025px) {
  .compose_title {
    text-transform: uppercase;
    position: relative;
    left: 1px;
  }
}

// ----- Function 3 -----
.taste {
  @include radius-small();
  @include flex-center();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
@media (min-width: 568px) and (max-width: 1024px) {
  .taste {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .taste {
    width: 350px;
    &.taste:hover {
      box-shadow: $color-primary 2px 5px 7px 2px;
    }
  }
}
.taste_elements {
  @include functions-positionElements();
  @include enabled();
}
.taste_icon {
  opacity: 0.5;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .taste_icon {
    position: relative;
    left: 20px;
  }
}
@media (min-width: 1025px) {
  .taste_icon {
    position: relative;
    left: 10px;
    font-size: $size-large;
  }
}
.taste_title {
  font-size: $size-small;
  font-weight: bold;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .taste_title {
    position: relative;
    right: 50px;
  }
}
@media (min-width: 1025px) {
  .taste_title {
    text-transform: uppercase;
    position: relative;
    left: 1px;
  }
}

// ----- Restaurants section -----
section.restaurant {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $colorback-light;
  padding-bottom: 30px;
}

.restaurant h2 {
  width: 290px;
  font-size: $size-large;
  padding-top: 30px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .restaurant h2 {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .restaurant h2 {
    width: 700px;
    position: relative;
    right: 330px;
  }
}

.card {
  @include card-styles();
  &:hover {
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}
@media (min-width: 568px) and (max-width: 1024px) {
  .card {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .card {
    width: 700px;
    margin-bottom: 30px;
    height: 380px;
    &.card:hover {
      box-shadow: $color-primary 2px 5px 7px 2px;
    }
  }
}

.card_photo1 {
  @include photo-styles();
  object-position: $position-bottom;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .card_photo1 {
    object-position: center;
  }
}
@media (min-width: 1025px) {
  .card_photo1 {
    object-position: center;
    height: 300px;
  }
}

.card_info {
  @include info-styles();
}

.card_name {
  @include name-styles();
}
@media (min-width: 1025px) {
  .card_name {
    font-size: $size-large;
  }
}

.card_place {
  @include place-styles();
}

.card_new {
  @include flex-center();
  width: 60px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 2px 2px;
  background-color: $color-tertiary;
  color: darken($color-tertiary, 40%);
  font-size: $size-xs;
  font-weight: bold;
  position: relative;
  bottom: 200px;
  left: 230px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .card_new {
    left: 400px;
  }
}
@media (min-width: 1025px) {
  .card_new {
    width: 150px;
    height: 40px;
    position: relative;
    left: 500px;
    bottom: 350px;
    font-size: initial;
  }
}

.like_button {
  display: flex;
  align-items: center;
  position: relative;
  left: 120px;
  bottom: 60px;
  cursor: pointer;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .like_button {
    left: 200px;
  }
}
@media (min-width: 1025px) {
  .like_button {
    position: relative;
    left: 300px;
    bottom: 90px;
  }
}

svg {
  width: 22px;
  height: 20px;
}
@media (min-width: 1025px) {
  svg {
    width: 30px;
    height: 28px;
  }
}

.likeStyle_button {
  fill: $colorback-light;
  stroke: black;
  stroke-width: 20;
  &:hover,
  &:active {
    fill: 1px $colorback-light;
    opacity: 1;
    stroke: unset;
    animation: fadeinbackground 1.2s forwards;
    &:target {
      fill: $color-secondary;
    }
  }
  @keyframes fadeinbackground {
    from {
      fill: $color-primary;
    }
    to {
      fill: $color-secondary;
    }
  }
}

.card_photo2 {
  @include photo-styles();
  object-position: $position-center;
}
@media (min-width: 1025px) {
  .card_photo2 {
    height: 300px;
  }
}

// ----- Footer -----
.home_footer {
  height: 150px;
  padding: $padding-size $padding-size;
  background-color: $colorback-dark;
}
@media (min-width: 1025px) {
  .home_footer {
    height: 80px;
    position: inherit;
    top: 0px;
    border-top: 4px solid $color-primary;
  }
}

.logo_small {
  width: 100px;
  font-family: $font-family;
  font-size: $size-large;
  font-weight: normal;
  color: $color-text;
}

.footer_elements {
  font-size: $size-small;
  font-family: "roboto";
  color: $color-text;
  list-style-type: none;
  line-height: 20px;
  padding-left: 0px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  ul.footer_elements {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  ul.footer_elements {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.footer_icon {
  font-size: $size-xs;
  padding-right: 10px;
}

.fas-fa-hands-helping {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: $color-text;
}
