// -----------------------------------------------------------------------------
// This file contains styles that are specific to the menu page.
// -----------------------------------------------------------------------------

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto";
  margin: 0px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

// ----- Background landscape tablet/desktop on menus -----
@media (min-width: 1025px) {
  .desktop_background_M1 {
    width: 100%;
    height: 620px;
    background-image: url("/images/La_palette_du_gout.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid $color-primary;
  }
}
@media (min-width: 1025px) {
  .desktop_background_M2 {
    width: 100%;
    height: 620px;
    background-image: url("../images/A_la_francaise.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid $color-primary;
  }
}

@media (min-width: 1025px) {
  .desktop_background_M3 {
    width: 100%;
    height: 620px;
    background-image: url("../images/A_la_francaise.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid $color-primary;
  }
}

@media (min-width: 1025px) {
  .desktop_background_M4 {
    width: 100%;
    height: 620px;
    background-image: url("../images/Le_delice_des_sens.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid $color-primary;
  }
}

// ----- Header -----
.menu_header {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_normal {
  width: 150px;
  height: max-content;
}
@media (min-width: 1025px) {
  .logo_normal {
    width: 180px;
    padding-top: $padding-size;
  }
}

.back_button {
  width: 30px;
  height: 30px;
  color: black;
  position: relative;
  bottom: 35px;
  padding-left: 20px;
}
@media (min-width: 1025px) {
  .back_button {
    font-size: $size-large;
    padding-top: 30px;
  }
}

// ----- Presentation section -----
section.presentation {
  width: 100%;
  height: max-content;
  position: absolute;
  top: 50px;
}
@media (min-width: 1025px) {
  section.presentation {
    display: none;
  }
}

.presentation_photo {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.presentation_photoPortrait {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

// ----- Menu section -----
section.menu {
  @include menu_styles();
}
@media screen and (min-width: 1025px) {
  section.menu {
    display: flex;
    justify-content: center;
    top: 0;
    border-radius: inherit;
    padding-top: 50px;
    padding-bottom: 170px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(59, 28, 28, 0.2);
    width: 100%;
    height: 460px;
  }
}

// ----- Align menu on page "menu_A_la_francaise" -----
@media (min-width: 1025px) {
  .align_menu {
    padding-left: 30px;
  }
}

.title {
  width: auto;
  height: 50px;
  font-size: $size-medium;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-size $padding-size 0 $padding-size;
}
@media (min-width: 1025px) {
  .title {
    position: relative;
    left: 625px;
    width: 270px;
    padding: 0;
  }
}

.menu_name {
  font-family: "shrikhand";
  height: max-content;
  margin: 0;
}
@media (min-width: 1025px) {
  .menu_name {
    width: max-content;
    font-size: $size-xl;
    font-weight: normal;
    color: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-top: 2px solid $color-primary;
  }
}

.like_buttonMenu {
  display: flex;
  align-items: center;
  position: relative;
  height: 32px;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .like_buttonMenu {
    position: relative;
    left: 30px;
  }
}

// ----- Starter/Main/Dessert -----
.starter,
.main,
.dessert {
  @include position-grid();
  padding: $padding-size $padding-size;
}
@media (min-width: 1025px) {
  .starter,
  .main,
  .dessert {
    margin-top: 50px;
  }
}

.starter h2,
.main h2,
.dessert h2 {
  @include sectionTitle-styles();
}
@media (min-width: 568px) and (max-width: 1024px) {
  .starter h2,
  .main h2,
  .dessert h2 {
    right: 235px;
  }
}
@media (min-width: 1025px) {
  .starter h2,
  .main h2,
  .dessert h2 {
    font-size: $size-large;
    font-weight: bold;
    color: white;
  }
}

.starter_info,
.main_info,
.dessert_info {
  @include radius-small();
  padding-left: $padding-size;
  background-color: white;
  white-space: nowrap;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .starter_info,
  .main_info,
  .dessert_info {
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .starter_info,
  .main_info,
  .dessert_info {
    background-color: #ffffffba;
  }
}
@media (min-width: 1025px) {
  .starter_info:hover,
  .main_info:hover,
  .dessert_info:hover {
    box-shadow: $color-tertiary 2px 5px 7px 2px;
  }
}

.starter_item,
.main_item,
.dessert_item {
  @include name-styles();
  padding-top: 5px;
  line-height: 1.5em;
}
@media (min-width: 1025px) {
  .starter_item,
  .main_item,
  .dessert_item {
    font-size: $size-medium;
    font-weight: bolder;
  }
}

.starter_accompaniment,
.main_accompaniment,
.dessert_accompaniment {
  @include accompaniement-styles();
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.starter_pricing,
.main_pricing,
.dessert_pricing {
  @include pricing-styles();
}
@media (min-width: 568px) and (max-width: 1024px) {
  .starter_pricing,
  .main_pricing,
  .dessert_pricing {
    left: 450px;
  }
}

// ----- Order button -----
.order {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
@media (min-width: 1025px) {
  .order {
    position: relative;
    top: 400px;
    right: 630px;
    margin-top: 80px;
  }
}

.order_button {
  @include gradient-button();
}
@media (min-width: 1025px) {
  .order_button {
    font-size: $size-large;
    position: relative;
    top: 400px;
    right: 630px;
    font-weight: 800;
  }
}
// ----- Align button on page "menu_La_note_enchantee" -----
@media (min-width: 1025px) {
  .align_button {
    top: 420px;
  }
}

// ----- Footer -----
.menu_footer {
  height: 150px;
  padding: $padding-size $padding-size;
  background-color: $colorback-dark;
  position: relative;
  top: 200px;
}
@media (min-width: 1025px) {
  .menu_footer {
    height: 100px;
    position: relative;
    top: 0;
    width: auto;
    border-top: 4px solid $color-primary;
  }
}

.logo_small {
  width: 100px;
  font-family: $font-family;
  font-size: $size-large;
  font-weight: normal;
  color: $color-text;
}

.footer_elements {
  font-size: $size-small;
  font-family: "roboto";
  color: $color-text;
  list-style-type: none;
  line-height: 20px;
  padding-left: 0px;
}
@media (min-width: 1025px) {
  .footer_elements {
    font-size: $size-medium;
    width: 60%;
    height: 0;
    padding-left: 150px;
  }
}

.footer_icon {
  font-size: $size-xs;
  padding-right: 10px;
}
@media (min-width: 1025px) {
  .footer_icon {
    font-size: $size-large;
  }
}

.fas-fa-hands-helping {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: $color-text;
}

// ----- Appearance item -----
.anime {
  animation: animeProgress 0.5s;
}
@keyframes animeProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anime_progress {
  animation: animeProgress 1.5s;
}
@keyframes animeProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anime_progressNd {
  animation: animeProgress 2.5s;
}
@keyframes animeProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anime_progressRd {
  animation: animeProgress 3s;
}
@keyframes animeProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// ----- Order -----
// ----- Elements appearance if ready to order -----
#addToOrder {
  @include flex-center();
  position: relative;
  bottom: 64px;
  left: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 2px;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.checkOrder {
  fill: $colorback-light;
}

.starter_info:hover > #addToOrder {
  background-color: $color-tertiary;
  width: 50px;
  left: 230px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .starter_info:hover > #addToOrder {
    left: 450px;
  }
}

.starter_info:hover > #addToOrder svg {
  @include validOrder();
}

.main_info:hover > #addToOrder {
  background-color: $color-tertiary;
  width: 50px;
  left: 230px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .main_info:hover > #addToOrder {
    left: 450px;
  }
}

.main_info:hover > #addToOrder svg {
  @include validOrder();
}

.dessert_info:hover > #addToOrder {
  background-color: $color-tertiary;
  width: 50px;
  left: 230px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .dessert_info:hover > #addToOrder {
    left: 450px;
  }
}

.dessert_info:hover > #addToOrder svg {
  @include validOrder();
}

.starter_info:hover > .starter_pricing {
  left: 195px;
  transition: 0.5s ease;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .starter_info:hover > .starter_pricing {
    left: 400px;
  }
}

.main_info:hover > .main_pricing {
  left: 195px;
  transition: 0.5s ease;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .main_info:hover > .main_pricing {
    left: 400px;
  }
}

.dessert_info:hover > .dessert_pricing {
  left: 195px;
  transition: 0.5s ease;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .dessert_info:hover > .dessert_pricing {
    left: 400px;
  }
}

.starter_info:hover > .starter_accompaniment {
  width: 195px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .starter_info:hover > .starter_accompaniment {
    width: inherit;
  }
}

.main_info:hover > .main_accompaniment {
  width: 195px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .main_info:hover > .main_accompaniment {
    width: inherit;
  }
}

.dessert_info:hover > .dessert_accompaniment {
  width: 195px;
}
@media (min-width: 568px) and (max-width: 1024px) {
  .dessert_info:hover > .dessert_accompaniment {
    width: inherit;
  }
}
