// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----- Header -----
header {
  width: 100%;
  height: 50px;
  @include flex-center();
}
.logo_normal {
  width: 150px;
  height: max-content;
}
