// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// Color
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-gradient: linear-grrgb(43, 31, 31) ($color-secondary, $color-primary);

$color-text: white;
$color-shadow: rgba(99, 99, 99, 0.2);
$color-darkShadow: $colorback-dark;

$shadow-style: $color-shadow 2px 5px 7px 2px;

$colorback-light: lighten(#f2f2f2, 2%);
$colorback-medium: darken(#f2f2f2, 2%);
$colorback-dark: rgb(46, 44, 44);

// Size
$size-small: small;

// Padding
$padding-size: 15px;

@mixin gradient-button {
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background-image: $color-gradient;
  border: none;
  color: $color-text;
  box-shadow: $shadow-style;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
    box-shadow: $color-darkShadow 2px 5px 7px 2px;
  }
}

// - Location search button -
.location_icon {
  font-size: $size-small;
  padding-right: $padding-size;
  cursor: pointer;
}
.location_place {
  font-size: $size-small;
  font-weight: bold;
  color: $colorback-dark;
}

// ----- Exploration section -----
.exploration_button {
  @include gradient-button();
}
@media (min-width: 1025px) {
  .exploration_button {
    width: 280px;
    font-size: $size-large;
    font-weight: bold;
  }
}

// ----- Restaurant section -----
.like_button {
  display: flex;
  align-items: center;
  position: relative;
  left: 120px;
  bottom: 60px;
  cursor: pointer;
}
svg {
  width: 22px;
  height: 20px;
}
.likeStyle_button {
  fill: $colorback-light;
  stroke: black;
  stroke-width: 20;
  &:hover,
  &:active {
    fill: 1px $colorback-light;
    opacity: 1;
    stroke: unset;
    animation: fadeinbackground 1.2s forwards;
    &:target {
      fill: $color-secondary;
    }
  }
  @keyframes fadeinbackground {
    from {
      fill: $color-primary;
    }
    to {
      fill: $color-secondary;
    }
  }
}

// ----- Order button -----
.order {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.order_button {
  @include gradient-button();
}
@media (min-width: 1025px) {
  .order_button {
    font-size: $size-large;
    position: relative;
    top: 400px;
    right: 630px;
    font-weight: 800;
  }
}

// ----- Align button on page "menu_La_note_enchantee" -----
@media (min-width: 1025px) {
  .align_button {
    top: 420px;
  }
}
