// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin functions-positionElements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
}

@mixin bullet-styles {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $color-primary;
  color: $color-text;
  font-size: $size-small;
  position: absolute;
  right: 270px;
}

@mixin card-styles {
  width: 300px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 10px 10px 10px;
  box-shadow: $shadow-style;
  margin-bottom: $padding-size;
  text-decoration: none;
}
@mixin photo-styles {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@mixin info-styles {
  width: max-content;
  height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.5;
  padding-left: $padding-size;
}
@mixin name-styles {
  font-size: $size-medium;
  font-weight: bold;
  color: $colorback-dark;
  margin-top: 5px;
  margin-bottom: 0;
}
@mixin place-styles {
  font-size: $size-medium;
  color: $colorback-dark;
  margin: 0;
}
@mixin enabled {
  &:hover,
  :active {
    background-color: lighten($color-primary, 35%);
    .functionEnabled_icon {
      color: $color-primary;
      opacity: inherit;
    }
  }
}
// ----- Menus -----
@mixin menu-styles {
  width: auto;
  height: max-content;
  background-color: $colorback-light;
  padding-bottom: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: 220px;
}
@mixin sectionTitle-styles {
  text-transform: uppercase;
  font-size: $size-medium;
  color: $colorback-dark;
  font-weight: normal;
  width: 30px;
  height: 20px;
  border-bottom: 3px solid $color-tertiary;
  position: relative;
  right: 130px;
  align-self: flex-end;
}
@mixin accompaniement-styles {
  font-size: $size-small;
  width: 250px;
  margin: 0;
}
@mixin pricing-styles {
  font-size: $size-small;
  font-weight: bold;
  width: 30px;
  position: relative;
  left: 250px;
  bottom: 15px;
}
// ----- Buttons -----
@mixin gradient-button {
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background-image: $color-gradient;
  border: none;
  color: $color-text;
  cursor: pointer;
}